<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argument Map</title>
    <link rel="stylesheet" href="js/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="js/node_modules/angular-ui-tree/dist/angular-ui-tree.css">
    <link rel="stylesheet" href="css/argmap.css">
    <link rel="stylesheet" href="css/tree.css">
    <link rel="stylesheet" href="js/node_modules/angular-xeditable/dist/css/xeditable.min.css">
</head>
<body data-ng-app="argmap" data-ng-controller="argmapCtrl">
    <script type="text/ng-template" id="argmapModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Comentario de la asociación</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>Has elegido asociar la idea "{{ edge_clicked.source.title }}" con la idea "{{ edge_clicked.target.title }}".
                <br>Ingresa a continuación un comentario que justifique la asociación:</p>
            <textarea ng-model="$parent.edge_comment" rows="3" cols="50"></textarea>
            <!--<p>{{edge_comment}}</p>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="argmap">
                    <div argmap-chart edge-click-callback="edgeClickCallback" chart-set-callback="chartSetCallback" ideas="ideas" edges="edges" style="height:100%"></div>
                </div>
                <div id="toolbox">
                    <div>
                        <button type="button" ng-click="logDeleteEdges()" class="btn btn-danger" ng-model="deleteEdges" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                            Borrar Arcos
                        </button>
                        <button type="button" class="btn btn-primary" ng-model="createEdges" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                            Crear Arcos
                        </button>
                        <input type="hidden" id="h-delete-arrow" value="{{deleteEdges}}" data-toggle="toggle" data-onstyle="danger" data-offstyle="success">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content">
                        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                                class="glyphicon"
                                ng-class="{
                                  'glyphicon-chevron-right': collapsed,
                                  'glyphicon-chevron-down': !collapsed
                                }"></span></a>
                        <div data-nodrag>
                            {{node.id}}: <a href="#" onbeforesave="onIdeaTextUpdate($data)" data-editable-text="node.title">{{node.title || "Editar aquí"}}</a>
                        </div>
                        <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag data-ng-click="remove(this)"><span-->
                                <!--class="glyphicon glyphicon-remove"></span></a>-->
                        <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag data-ng-click="newSubItem(this)" style="margin-right: 8px;"><span-->
                                <!--class="glyphicon glyphicon-plus"></span></a>-->
                    </div>
                    <ol data-ui-tree-nodes data-ng-model="node.nodes" data-ng-class="{hidden: collapsed}">
                        <li data-ng-repeat="node in node.nodes" data-ui-tree-node data-ng-include="'nodes_renderer.html'">
                        </li>
                    </ol>
                </script>
                <div class="well well-sm">
                    <button type="button" class="btn btn-primary" data-ng-click="addIdea()">
                        Agregar Idea
                    </button>
                </div>
                <div data-ui-tree="treeValueOptions" data-clone-enabled="true" data-drag-enabled="true" id="tree-root">
                    <ol data-ui-tree-nodes data-ng-model="ideas">
                        <li data-ng-repeat="node in ideas" data-ui-tree-node data-ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- keeping dependencies at the end of the page helps loading the page faster -->
    <script src="js/node_modules/angular/angular.js"></script>
    <script src="js/node_modules/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="js/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="js/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/d3.js"></script>
    <script src="js/controllers/argmap.js"></script>
    <script src="js/directives/argmap-chart.js"></script>
    <script src="js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/node_modules/angular-xeditable/dist/js/xeditable.min.js"></script>
</body>
</html>