<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Argument Map</title>
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="js/bower_components/angular-ui-tree/dist/angular-ui-tree.css">
    <link rel="stylesheet" href="css/argmap.css">
    <link rel="stylesheet" href="css/tree.css">
    <link rel="stylesheet" href="js/bower_components/bootstrap-toggle/css/bootstrap-toggle.css">
</head>
<body data-ng-app="argmap" data-ng-controller="argmapCtrl">
    <script type="text/ng-template" id="argmapModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Comentario de la asociación</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <p>Has elegido asociar la idea "{{ edge_clicked.source.title }}" con la idea "{{ edge_clicked.target.title }}".
                <br>Ingresa a continuación un comentario que justifique la asociación:</p>
            <textarea rows="3" cols="50">
                {{ edge_clicked.comment }}
            </textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <button data-ng-click="addIdea()">Add Idea</button>
                <!--<div class="info">
                    Edge clicked on: {{edge_clicked.comment}}
                </div>-->
                <div id="argmap">
                    <div argmap-chart edge-click-callback="edgeClickCallback" chart-set-callback="chartSetCallback" ideas="ideas" edges="edges" style="height:100%"></div>
                    <div id="toolbox">
                        <input type="file" id="hidden-file-upload">
                        <input type="checkbox" id="cb-delete-arrow"  data-toggle="toggle" data-onstyle="danger" data-offstyle="success">Borrar Arcos
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content">
                        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span
                                class="glyphicon"
                                ng-class="{
                                  'glyphicon-chevron-right': collapsed,
                                  'glyphicon-chevron-down': !collapsed
                                }"></span></a>
                        {{node.title}}
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag data-ng-click="remove(this)"><span
                                class="glyphicon glyphicon-remove"></span></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag data-ng-click="newSubItem(this)" style="margin-right: 8px;"><span
                                class="glyphicon glyphicon-plus"></span></a>
                    </div>
                    <ol data-ui-tree-nodes data-ng-model="node.nodes" data-ng-class="{hidden: collapsed}">
                        <li data-ng-repeat="node in node.nodes" data-ui-tree-node data-ng-include="'nodes_renderer.html'">
                        </li>
                    </ol>
                </script>
                <div data-ui-tree="treeValueOptions" data-clone-enabled="true" data-drag-enabled="true" id="tree-root">
                    <ol data-ui-tree-nodes data-ng-model="ideas">
                        <li data-ng-repeat="node in ideas" data-ui-tree-node data-ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- keeping dependencies at the end of the page helps loading the page faster -->
    <script src="js/bower_components/angular/angular.js"></script>
    <script src="js/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="js/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/d3.js"></script>
    <script src="js/controllers/argmap.js"></script>
    <script src="js/directives/argmapChart.js"></script>
    <script src="js/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="js/bower_components/bootstrap-toggle/js/bootstrap-toggle.js"></script>
</body>
</html>